<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    head_tag-->
    <style th:replace="common/head_tag"></style>
    <title>Admin index</title>
</head>
<body>
<div th:replace="common/content_first.html"></div>
<div><h2>Welcome to index Content</h2></div>
<div th:replace="common/content_footer.html"></div>
</body>
</html>